body {
  font-family: 'Arial', sans-serif;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
  img {
    width: 30%;
    float: center;
  }
  
  section {
    overflow: auto;
    padding: 5px;
  }
  
  h1 {
    color: black;
  }
  
  .h2 {
    color: black;
  }
  
  input {
    width: 35%;
    padding: 7px;
  }
  
  button {
    padding: 7px;
  }

  a:link {
  color: rgb(43, 41, 41);
  text-decoration: none;
  }

  a:visited {
  color: rgb(34, 33, 33);
  text-decoration: none;
  }

  a:hover {
  color: rgb(55, 54, 54);
  }

  a:active {
  color: white;
  text-decoration: none;
  }

.index {
    text-align: center;
    background-image: url(backgrounds/index.jpg);
    background-size: cover;
    background-attachment: fixed;
}

  .images {
    background-image: url(backgrounds/images.jpeg);
    background-size: cover;
    background-attachment: fixed;
  }

  .ppts {
    background-image: url(backgrounds/ppts.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .pdfs {
    background-image: url(backgrounds/pdfs.jpg);
    background-size: cover;
    background-attachment: fixed;
    }

  .music {
      background-image: url(backgrounds/music.jpg);
      background-size: cover;
      background-attachment: fixed;
      }
  
  footer {
    color: rgb(43, 42, 42);
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  nav {
    background-color: #413f3f; 
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .nav-link, .search-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 60px;
    font-size: 20px;
    padding: 10px 40px; 
    border-radius: 5px; 
    background-color: #9c9999;
    cursor: pointer;
  }
  
  .nav-link:hover, .search-link:hover {
    border-bottom: 2px solid white;
  }
  

  
  
 
  