body {
    font-family: Verdana;
  }
  
  img {
    width: 200px;
    float: right;
  }
  
  section {
    overflow: auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  h2 {
    color: rgb(157, 35, 35);
  }
  
  h1 {
    color: rgb(9, 53, 74);
  }
  
  .h2-yellow {
    color: #cbbc1a;
  }
  
  input {
    width: 60%;
    padding: 5px;
  }
  
  button {
    padding: 5px;
  }
  
  .searchResults {
    margin-top: 20px;
  }

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: darkblue;
}

a:active {
  color: blue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



  .index {
    background-image: url(backgrounds/index.jpg);
    background-position: center center;
  }

  .images {
    background-image: url(backgrounds/images.jpeg);
    background-position: center center;
  }

  .ppts {
    background-image: url(backgrounds/ppts.jpg);
    background-position: center center;
  }

  .pdfs {
<<<<<<< Updated upstream
    background-image: url(backgrounds/pdfs.jpg);
    background-position: center center;
    }
  
=======
    background-image: url(backgrounds);
    background-position: center center;
  }

  .music {
    background-image: url(backgrounds/music.jpg);
    background-position: center center;
  }
>>>>>>> Stashed changes

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }