body {
    font-family: Verdana;
  }
  
  img {
    width: 200px;
    float: right;
  }
  
  section {
    overflow: auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  h2 {
    color: rgb(157, 35, 35);
  }
  
  h1 {
    color: rgb(9, 53, 74);
  }
  
  .h2-yellow {
    color: #cbbc1a;
  }
  
  input {
    width: 30%;
    padding: 7px;
  }
  
  button {
    padding: 7px;
  }

  a:link {
  color: blue;
  text-decoration: none;
  }

  a:visited {
  color: blue;
  text-decoration: none;
  }

  a:hover {
  color: darkblue;
  }

  a:active {
  color: blue;
  text-decoration: none;
  }

.searchResults {
    margin-top: 20px;
}

.index {
    background-image: url(backgrounds/index.jpg);
    background-size: cover;
}

  .images {
    background-image: url(backgrounds/images.jpeg);
    background-size: cover;
  }

  .ppts {
    background-image: url(backgrounds/ppts.jpg);
    background-size: cover;
  }

  .pdfs {
    background-image: url(backgrounds/pdfs.jpg);
    background-size: cover;
    }

  .music {
      background-image: url(backgrounds/music.jpg);
      background-size: cover;
      }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #444; 
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .nav-link, .search-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 60px;
    font-size: 20px;
    padding: 10px 40px; 
    border-radius: 5px; 
    background-color: #555;
    cursor: pointer;
  }
  
  .nav-link:hover, .search-link:hover {
    border-bottom: 2px solid white;
  }
  

  
  
 
  